body {
    background-color: #CBC3E3
}

img {
    padding: 60px
}

h1 {
    color: #8F53A3;
    padding-top: 30px;
    font-size: 55px;

}

button {
    color: #8F53A3;
}

a {
    font-size: 35px;
    color: #8F53A3
}

.clips {
    background-color: aliceblue;
}