body {
    background-color: #CBC3E3;
    font-size: 16px;
}

section {
    padding: 2em 0;
}

h1 {
    color: #8F53A3;
    padding-top: 30px;
    font-size: 2.75em;

}

h2 {
    font-size: 1.5em;
}


a {
    font-size: 1.75em;
    color: #8F53A3;
}

.clips {
    background-color: aliceblue;
}

span {
    font-weight: bold;
}

footer {
    text-align: center;
}

img {
    padding: 0 0 1em 0;
}